* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  color: var(--white);
}

a {
  text-decoration: none;
  color: #f9f9f9;
}

li {
  list-style: none;
}

:root {
  --logo-green: #4aa389;
  --logo-coral: #da6d75;
  --darkgray: #212121;
  --white: #f9f9f9;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;
}

body {
  background: var(--darkgray);
}

.home-wrapper {
  padding: 30px 156px 30px 156px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 80px;
  top: 0px;
  left: 0;
  right: 0;
  padding-right: 156px;
  padding-left: 156px;
  background: var(--darkgray);
  z-index: 99;
}

header .logo-svg {
  width: 153px;
}

header .nav {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: var(--font-regular);
  opacity: 0;
  transform: translateY(-30px);
  animation: order4-nav 500ms linear forwards;
  animation-delay: 6200ms;
}

header .nav li {
  margin-right: 65px;
}

header .nav li:last-child {
  font-size: 12px;
}

.main {
  width: 737px;
  margin: 0 auto;
}

.main .main-logo {
  width: 73%;
  margin: 0 auto;
  padding-bottom: 28px;
  opacity: 0;
  transform: translateY(30px);
  animation: order3-logo 500ms linear forwards;
  animation-delay: 5800ms;
}

.main .main-logo img {
  width: 100%;
}

.main .ideology {
  display: inline-block;
  font-size: 22px;
  font-weight: var(--font-regular);
  text-align: center;
  padding-top: 28px;
  margin-bottom: 30px;
}

.main .ideology .ideology-typing {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  border-right: 2px solid transparent;
  animation: order1-typing 5s steps(66), blink 900ms linear infinite;
}

.main .ideology .ideology-green {
  color: var(--logo-green);
}

.main .ideology .ideology-coral {
  color: var(--logo-coral);
}

footer {
  position: absolute;
  bottom: 30px;
  font-size: 16px;
  opacity: 0;
  transform: translateY(30px);
  animation: order4-footer 500ms linear forwards;
  animation-delay: 6200ms;
}

footer .social li:nth-child(1) {
  margin-bottom: 12px;
}

footer .social li:nth-child(2) * {
  margin-right: 58px;
}

footer .social li:nth-child(2) .division {
  border-left: 1px solid var(--white);
}

.mid-line {
  position: absolute;
  width: 0;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  height: 2px;
  background: var(--logo-green);
  animation: order2-mid-line 500ms linear forwards;
  animation-delay: 5200ms;
  z-index: 99;
}

.mid-line .scroll-indicator {
  width: 0;
  height: 2.5px;
  background: var(--logo-coral);
  position: relative;
}

.mid-line .scroll-indicator_effect {
  /* display: none; */
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--logo-coral);
}

.about-wrapper {
  height: 100vh;
}

.work-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.work-wrapper .work-title {
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  z-index: 98;
}

.work-wrapper .slide {
  width: 100%;
}

.work-wrapper .slide img {
  width: 100%;
}

.contact-wrapper {
  height: 100vh;
}

@keyframes order1-typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: var(--white);
  }
  50% {
    border-color: transparent;
  }
}

@keyframes order3-logo {
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes order2-mid-line {
  100% {
    width: 100%;
  }
}

@keyframes order4-nav {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes order4-footer {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  .home-wrapper {
    padding: 30px 65px 30px 65px;
  }

  header {
    padding-right: 0px;
    padding-left: 65px;
  }

  header .logo-svg {
    width: 136px;
  }

  header .nav {
    font-size: 16px;
  }

  header .nav li:last-child() {
    font-size: 12px;
  }

  .main {
    width: 504px;
    margin: 0 auto;
  }

  .main .main-logo {
    padding-bottom: 16px;
  }

  .main .main-logo img {
    width: 100%;
  }

  .main .ideology {
    font-size: 14px;
    padding-top: 16px;
  }

  footer {
    font-size: 14px;
  }
}
